* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  margin: auto;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  padding: 7px;
  color: white;

}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.8;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
.content{
  width: 40%;
 position: absolute;
 top: 35%;
 left: 30%;
 padding: 30px;
 text-align: center;
}
.buttons button {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 15px;
  color: white;
}

.btn1 {
  background-color: rgb(157, 124, 82);
  border: none;
}

.btn2 {
  background-color: inherit;
  border: 2px solid black;
}

.about-us {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 48px;
}

.about-us img {
  width: 50%;
}

.about-text {
  width: 50%;
}

.about-us h2,
p {
  margin-bottom: 1rem;
}